@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Monoton&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ADDED UTILITIES */
/* ADDED UTILITIES */
/* ADDED UTILITIES */

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  line-height: 1.4rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.accordion__heading {
  font-weight: 700;
}

.accordion__button {
  padding: 1rem 0 !important;
}

.accordion__button:before {
  margin-left: 1rem;
}

.accordion__button:focus {
  outline: none;
}

.accordion__panel {
  background: rgba(255, 255, 255, 0.7);
}

.chrome-picker {
  width: 100% !important;
  height: 220px !important;
  background: none !important;
  box-shadow: none !important;
}

.pretty .state label:after,
.pretty .state label:before {
  border-color: blue !important;
}

::-webkit-scrollbar {
  display: none;
}

.svg-inline--fa {
  padding: 0.98rem;
  border-bottom: 1px solid #e4e4e4;
}

.svg-inline--fa:hover {
  cursor: pointer;
}

.active {
  color: dodgerblue;
}

.nav-scale-height {
  height: 3rem !important;
}
